<h1>Generate Overview</h1>

<%= form_tag("home/generate", :method => "post") do %>
  <div class='overview_params'>
  <%= label_tag(:sprint_order, "Sprint Order:") %>
  <%= text_field_tag(:sprint_order) %>
  </div>
  <div class='overview_params'>
  <%= label_tag(:sprint_start_date, "Sprint Start Date:") %>
  <%= text_field_tag(:sprint_start_date) %>
  </div>
  <div class='overview_params'>
  <%= label_tag(:sprint_end_date, "Sprint End Date:") %>
  <%= text_field_tag(:sprint_end_date) %>
  </div>  
  <div class='overview_params'>
  <%= label_tag(:release_order, "Release Order:") %>
  <%= text_field_tag(:release_order) %>
  </div>
  <%= submit_tag("Generate") %>
<% end %>
